* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font: 400 1.6rem 'Montserrat', sans-serif;
    background-color: #8fbc8f;
    color: #fdf5e6;
    padding: 1rem;
}

h1 {
    color: #f9e2b7;
    padding: 2rem 0 1rem;
}

h2 {
    font-size: 1.6rem;
    padding: 1rem;
}

h3 {
    font: 400 2.4rem 'Montserrat';
}

h4 {
    font: 400 2rem 'Montserrat';
    padding: 0.5rem;
    display: none;
}

h5 {
    font-size: 2.4rem;
    padding: 1rem 0 2.5rem;
    display: none;
}

h3 span, h4 span {
    font-weight: 600;
    color: #f9e2b7;
}

p {
    color: #fdf5e6;
}

p span {
    color: #556b2f;
}

a {
    text-decoration: none;
    color: #556b2f;
    font-weight: 600;
}

a:hover, a:focus {
    color: #f5cf88;
    outline: none;
}

#generalInfo, #playerChoice, #gameInfo {
    margin: 2rem;
}

.choices {
    width: 20%;
    padding: 1rem;
}

#gameAnimation {
    margin: 2rem;
    display: none;
}

#userFist{
    position: relative;
    width: 20%;
    padding: 1rem;
    transform: rotate(115deg);
    animation: spin 750ms 1;
}

#compFist {
    position: relative;
    width: 20%;
    padding: 1rem;
    transform: scale(-1, 1) rotate(115deg);
    animation: spinFlip 750ms 1;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    20% {
        -webkit-transform: rotate(115deg);
        transform: rotate(115deg);
    }
    40% {

        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    60% {

        -webkit-transform: rotate(115deg);
        transform: rotate(115deg);
    }
    80% {

        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    100% {
        -webkit-transform: rotate(115deg);
        transform: rotate(115deg);
    }
}

@keyframes spinFlip {
     0% {
         -webkit-transform: scale(-1, 1) rotate(60deg);
         transform: scale(-1, 1) rotate(60deg);
     }
     20% {
         -webkit-transform: scale(-1, 1) rotate(115deg);
         transform: scale(-1, 1) rotate(115deg);
     }
     40% {

         -webkit-transform: scale(-1, 1) rotate(60deg);
         transform: scale(-1, 1) rotate(60deg);
     }
     60% {

         -webkit-transform: scale(-1, 1) rotate(115deg);
         transform: scale(-1, 1) rotate(115deg);
     }
     80% {

         -webkit-transform: scale(-1, 1) rotate(60deg);
         transform: scale(-1, 1) rotate(60deg);
     }
     100% {
         -webkit-transform: scale(-1, 1) rotate(115deg);
         transform: scale(-1, 1) rotate(115deg);
     }
 }

.choices:hover, .choices:focus {
    border: 1px solid #80a980;
    border-radius: 0.5rem;
    background-color: #80a980;
    outline: none;
}

#startGame, #playAgain {
    text-decoration: none;
    background-color: #f9e2b7;
    color: #556b2f;
    border-radius: 0.3rem;
    border: none;
    margin: 0 0 1rem 0;
    padding: 10px 30px;
    font: 400 1.6rem 'Montserrat';
    cursor: pointer;
}

#startGame:hover,
#startGame:focus,
#playAgain:hover,
#playAgain:focus {
    background-color: #f5cf88;
    border: none;
    color: #556b2f;
    outline: none;
}

#playAgain {
    display: none;
}

#startOver {
    display: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f9e2b7;
    color: #fdf5e6;
    margin: 0 0 1rem 1rem;
    padding: 2px 10px;
    font: 400 1.2rem 'Montserrat';
    cursor: pointer;
}

#startOver:hover, #startOver:focus {
    border: none;
    border-bottom: 1px solid #f5cf88;
    color: #556b2f;
    outline: none;

}

footer {
    font-size: 1rem;
    margin-top: 2rem;
}


@media (max-width: 678px) {

    body {
        font-size: 1rem;
    }

    h3, h5 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    #playerChoice {
        margin: 2rem 0.5rem;
    }
    .choices {
        width: 30%;
        padding: 0.5rem;
    }

    #userFist, #compFist {
        width: 30%;
        padding: 0.5rem;
    }

    #startGame, #playAgain {
        font-size: 1.2rem;
    }
}